div()#homeLayout
  md-content
    div(layout='column' flex layout-align='center center')
      div.img-div( layout='column' layout-align='center center')
        md-content(layout-padding)
          h1 Cost Consultants!
    br
    div.container
      md-content
        div(layout-gt-md='row' flex style='margin-top: 50px;')
          md-card(flex)
            md-card-title
              md-card-title-text
                h1(style='text-align: center;') Who are we?
            md-card-content.md-card-content
              hr
              p.
                We are a Warehouse Setup and Management Firm! We can setup and initialize your warehouse for maximum productivity and efficiency!
                Click the link for more information!
            div(layout='column' layout-align='end start')
              md-card-actions(layout='row')
                md-button(style='font-size: 18px;' ui-sref='info').md-primary.md-button Information
                a(ui-sref='info' style='padding-top: 6px;')
                  ng-md-icon(icon='keyboard_arrow_right' size='22' style='fill: #4CAF50')
          md-card(flex)
            md-card-title
              md-card-title-text
                h1(style='text-align: center;') Give us a Call
            md-card-content.md-card-content
              hr
              p Don't hesitate to call us during normal business hours!
            div(layout='column' layout-align='end start')
              md-card-actions(layout='row')
                md-button(style='font-size: 18px;').md-primary.md-button 999-999-9999
                a(style='padding-top: 6px;')
                  ng-md-icon(icon='phone' size='20' style='fill: #4CAF50')
          md-card(flex)
            md-card-title
              md-card-title-text
                h1(style='text-align: center;') Have us Contact you
            md-card-content.md-card-content
              hr
              p Afraid you'll forget our number? No worries, fill out our brief contact form and we will get in touch with you at your best time!
            div(layout='column' layout-align='end start')
              md-card-actions(layout='row')
                md-button(style='font-size: 18px;' ui-sref='contact').md-primary.md-button Contact Form
                a(ui-sref='contact' style='padding-top: 6px;')
                  ng-md-icon(icon='keyboard_arrow_right' size='22' style='fill: #4CAF50')

    br
    div#homeExp(layout='column' flex='')
      br
      hr
      div.img-div( layout='column' layout-align='center end')
        md-content( layout-padding)
          h1(hide-xs hide-sm) Experience
          p.
            With over 20 Years of experience, Cost Consultants stands behind their name!
footer(ng-include="'partials/footer.jade'")
