div()
  md-content
    div(layout='column' flex layout-align='center center')
      div.img-div( layout='column' layout-align='center center')
        md-content(layout-padding)
          h1 Cost Consultants!
    br
    div#homeLayout()
      md-content
        md-toolbar.md-primary
          h1(style='text-align: center;') Website Features
        br
        div(layout-gt-md='row' flex)
          md-card(flex)
            h1(style='text-align: center;') Cost Consultants
            md-card-content
              hr
              p Hello world
          md-card(flex)
            h1(style='text-align: center;') Cost Consultants
            md-card-content
              hr
              p Hello world
          md-card(flex)
            h1(style='text-align: center;') Cost Consultants
            md-card-content
              hr
              p Hello world
    br
    div#about(layout='column' flex='')
      md-content
        md-toolbar.md-primary
          h1(style='text-align: center;') Brief overview
      br
      div(layout='row')
        md-content(flex)
          div.md-padding(layout-gt-md='row' )
            img.md-card-image(src='images/black-leather-texture-hd-free-wallpaper_1242103205.jpg')
            div(flex-gt-md='65')
              p.
                Hello. Something cool about the website will go here, maybe some marketing text, something attractive but not too informal
      div(layout='row')
        md-content(flex)
          div.md-padding(layout-gt-md='row')
            img.md-card-image(src='images/black-leather-texture-hd-free-wallpaper_1242103205.jpg' flex-order='2' flex-order-sm='1')
            div(flex-gt-md='65' flex-order='1' flex-order-sm='2')
              p.
                Hello. Something cool about the website will go here, maybe some marketing text, something attractive but not too informal
      div(layout='row')
        md-content(flex)
          div.md-padding(layout-gt-md='row')
            img.md-card-image(src='images/black-leather-texture-hd-free-wallpaper_1242103205.jpg')
            div(flex-gt-md='65')
              p.
                Hello. Something cool about the website will go here, maybe some marketing text, something attractive but not too informal