div#info()
  div.img-div( layout='column' layout-align='center center')
    md-content(layout-padding)
      h1 Information
  md-content(layout-padding)
    div()
      h1 C
    div()
      h1 O
    div()
      h1 S
    div()
      h1 T
