doctype html
html(ng-app='myApp')
  head
    title Cost Consultants
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
    link(rel='stylesheet', href='javascripts/vendor/angular-material/angular-material.css')
    link(rel='stylesheet', href='/javascripts/vendor/hover/css/hover.css')
    link(rel='stylesheet', href='/dist/stylesheets/main.min.css')
    base(href='/')
  body.ng-cloak(layout='column')
    md-content#mainContainer
      div(layout='row')
        md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', layout='column' hide-gt-lg)
          md-toolbar().md-whiteframe-z1.md-tall
            span(flex='')
            h2.md-toolbar-tools.md-toolbar-tools-bottom
              span.md-flex Cost Consultants
          md-list()#leftNav
            md-list-item
              md-button.md-button(ui-sref='/' flex='' ui-sref-active='active' ng-click='close()')
                h3 Home
              md-divider
            md-list-item
              md-button.md-button(ui-sref='about' flex='' ui-sref-active='active' ng-click='close()')
                h3 About
              md-divider
            md-list-item
              md-button.md-button(ui-sref='contact' flex='' ui-sref-active='active' ng-click='close()')
                h3 Contact us
              md-divider
            md-list-item
              md-button.md-button(ui-sref='info' flex='' ui-sref-active='active' ng-click='close()')
                h3 Information
              md-divider
            br
            div(ng-controller='BlogPostCtrl')
              md-content
                div(ng-repeat='blog in posts' style='min-height: 400px;')
                  div(layout-padding)
                    h4(style='text-align: center;') Recent blog Posts
                    hr
                    span {{blog.text}}
        div.md-whiteframe-z2(flex='', layout='column', tabindex='-1', role='main')
          md-toolbar.md-whiteframe-z1(layout='row' hide-gt-lg hide-lg hide-md)
            md-button#leftToggle(aria-label='Show Nav',  ng-controller="LeftNavCtrl", ng-click='toggleSidenav()' hide-gt-md='')
              md-icon(md-svg-icon='images/angular-material/menu.svg')
            //md-button(aria-label='Show User List', ng-controller='RightNavCtrl', ng-click='toggleSidenav()' style='padding-top: 12px')
              ng-md-icon(icon="people" style="fill: white" size="30")
          md-toolbar.md-whiteframe-z2#topnav(layout='row' hide-xs hide-sm style='max-height: 135px;')
            div(style='margin: auto;' layout='row' layout-align='center center' layout-padding)
              md-list-item
                img(src='images/Black_background-2.jpg' style='width: 175px; height: auto;')
              md-list-item
                md-button.md-button(ui-sref='/' flex='' ui-sref-active='active' )
                  h3 Home
              md-list-item
                md-button.md-button(ui-sref='about' flex='' ui-sref-active='active' )
                  h3 About
              md-list-item
                md-button.md-button(ui-sref='contact' flex='' ui-sref-active='active')
                  h3 Contact us
              md-list-item
                md-button.md-button(ui-sref='info' flex='' ui-sref-active='active')
                  h3 Information
              md-list-item
                md-button.md-button(ui-sref='blog' flex='' ui-sref-active='active')
                  h3 Blog
          div#mainView(ui-view='' layout='column')




    script(type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript' src='/javascripts/vendor/angular-messages/angular-messages.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-resource/angular-resource.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-animate/angular-animate.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-aria/angular-aria.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-material/angular-material.js')
    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type="text/javascript" src='/dist/javascripts/indexFinal.min.js')
    script(type="text/javascript" src='/javascripts/vendor/moment/moment.js')
    script(type="text/javascript" src='/javascripts/vendor/angular-moment/angular-moment.js')
    script(type="text/javascript" src="/javascripts/vendor/angular-css/angular-css.min.js")
