html, body
  font-size: 18px
  position: fixed
  width: 100%
  overflow: hidden


hr
  border-bottom: 1px solid #ba68c8

#mainView
  max-height: 100vh
  min-height: 100vh
  width: 100%
  overflow: scroll
  padding-bottom: 75px
  background-color: #f1f1f1

#mainContainer
  overflow: hidden



#leftNav
  .md-button
    margin: 8px
    padding: 10px
  .active
    background-color: #ba68c8
    color: white

#homeLayout
  md-card
    min-height: 400px
    max-height: 400px

#homeCarousel
  min-height: 700px
  max-height: 700px

  uib-carousel, uib-slide
    min-height: 700px
    max-height: 700px

  .carousel-caption
    margin-bottom: 400px
    background-color: rgba(#000, .5)
    
    h1
      color: white

  img
    margin: auto
    min-width: 100%
    max-height: 700px
    display: block

#about
  .md-card-image
    margin: auto
    height: 200px
    width: auto


/* ------------ Contact Page ---------- */

